/*
*************************************************************************************************************
*/
html{
    background-image: url(png/seaty.gif);
    background-size: cover;
    background-color: black;
    
    background-attachment: fixed;
     
    /* background-size: 300%; */
    }
    /*
    *************************************************************************************************************
    */
    .nav-primary{
        background-color: white;
        
        width: 100%;
      
        /* margin :auto auto; */
        opacity: 1;
        /* padding-top: 800px; */
        position: fixed;
       }
    .titlebar{  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: white; */
        color: black;
        margin :0px;
        width: auto;
        font-size: 15px;
        /* position: fixed; */
    }
    

    .videos{
    padding-top:  50px;

    display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 5px;
 opacity: 1;   
  height: 100px;
    }
    
    
        
    
    .videos__item{
        display: flex;
           font-weight: bold;
           font-size: 3.5rem;
          
          
            flex-direction: column;
           /* align-items: center; */
            background-repeat: no-repeat;
            padding-bottom: 1px;
            padding-top: 1px;
            background-position-x: bottom;
            background-position-y: center;
            background-size: cover;
            align-items: flex-start;
            /* height: 300px;
            width: 300px; */
       }
       
    
       
    /*
    *************************************************************************************************************
    */

   .videos__item__title {
    
        font-weight: bold;
        font-size: 1.7rem;
        margin: 0px 0px;
        color: black;
         justify-content: center;  
    } 

    
    .videos__item__tagline{
      
        font-size: 1rem;
        color: black;
        
      font-style: italic;
    } 
    .videos__item__img{
      display: block;
        height: 40%;
        
    }


    .recommended{
  
      display: flex;
flex-direction: column;

          
      }